{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>{{ user.firstname }} {{ user.lastname }}</h1>
    <p>{{ user.tagline }}</p>
</div>

<div class="row">

    <!-- left column -->
    <div class="col-sm-4">
        <div class="starter-template">
          <img src="{{user.avatar}}">
          <div align="justify"><br>{{ user.bio }}</div>
        </div>
    </div> <!-- /.col-sm-4-->

    <!-- right column -->
    <div class="col-sm-8">
        <div class="row">
            <div class="navbar-left col-sm-12">
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <div class="input-group-btn" data-toggle="tooltip" data-placement="top" title="Click to add projects">
                            <button class="btn btn-default btn-success" data-toggle="modal" data-target="#add_projects_form">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                        <input class="form-control" type="text" placeholder="Search projects">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-primary" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div> <!-- /.col-sm-12-->
        </div> <!-- end row-->
        <div class="container">
            {% for project in user.portfolio %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-7">
                                    <a href="#" data-toggle><strong>{{ project.title }}</strong></a>
                                    <br>
                                    {{ project.description }}
                                </div>
                                <div class="col-sm-5">
                                    {% for tag in project.tags.split(',') %}
                                        <span class="badge badge-important">{{ tag }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div> <!-- /.col-sm-8-->
</div>

{% endblock %}
