{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>{{ user.firstname }} {{ user.lastname }}</h1>
    <p>{{ user.tagline }}</p>
</div>

<div class="row">

    <!-- left column -->
    <div class="col-sm-4">
        <div class="starter-template">
          <img src="{{user.avatar}}">
          <div align="justify"><br>{{ user.bio }}</div>
        </div>
    </div> <!-- /.col-sm-4-->

    <!-- right column -->
    <div class="col-sm-8">
        <div class="row">
            <div class="navbar-left col-sm-12">
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <div class="input-group-btn" data-toggle="tooltip" data-placement="top" title="Click to add projects">
                            <button class="btn btn-default btn-success" data-toggle="modal" data-target="#add_projects_form">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                        <input class="form-control" type="text" placeholder="Search projects">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-primary" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div> <!-- /.col-sm-12-->
        </div> <!-- end row-->
        <div class="container">
            {% for project in user.portfolio %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-7">
                                    <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                                    <strong>{{ project.title }}</strong>
                                    <br>
                                    {{ project.description }}
                                </div>
                                <div class="col-sm-5">
                                    {% for tag in project.tags.split(',') %}
                                        <span class="badge badge-important">{{ tag }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div> <!-- /.col-sm-8-->
</div>

<div class="modal fade" id="add_projects_form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 class="modal-title">Project details</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <form class="form-horizontal" action="" method="POST" >
                                {{ projectsform.hidden_tag() }}
                                <div class="form-group">
                                    {{ projectsform.title.label }}
                                    {{ projectsform.title(class="form-control", placeholder="Give your project a clear and concise title")}}
                                </div>

                                <div class="form-group">
                                    {{ projectsform.description.label }}
                                    {{ projectsform.description(class="form-control", placeholder="Describe your project as interesting as possible")}}                        
                                </div>

                                <div class="form-group">
                                    {{ projectsform.tags.label }}
                                    {{ projectsform.tags(class="form-control", placeholder="What technology that you use? Separate it by comma")}}
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
